* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #f83838, #fcbd3e);
    position: relative;
}

#figure {
    width: 250px;
    height: 250px;
    background: linear-gradient(to right, #fc3838 75%, #fc833a);
    border-radius: 10px;
    position: relative;
    right: 320px;
}


#head {
    width: 800px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#date {
    color: #9290a1;
}

#paragraph {
    width: 400px;
    color: #888597;
}

.cls {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 305px;
    text-align: left;
}